
<template>
   <div class="nav-breadcrumb-wrap">
	<div class="container">
	  <nav class="nav-breadcrumb">
	    <a href="/">Home</a>
	    <span>Goods</span>
	  </nav>
	</div>
</div>
</template>

<script>

export default {

  data () {
    return {
    	msg:'aaa'
    }
  },
  methods:{
  	jump(){
  		this.$router.push({path:'/cart'}) 
  	}
  },

  
}
</script>

